@import "../../node_modules/bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    header{
        .header-band{
            display: flex;
            justify-content: end;
            background-color: #0281F8;
            font-size: 0.5rem;
            height: 1.2rem;
            padding: 0.2rem 15.8rem 0 15.8rem;

            p{
                &:last-child{
                    margin-left: 3.5rem;
                }
            }
        }
        nav{
            display: flex;
            padding: 0 15.8rem;
            ul{
                display: flex;
                list-style: none;
                gap: 2rem;
                li{
                    border-bottom: 4px solid #0281F8;
                    font-size: 0.7rem;
                    font-weight: 500;
                }
            }
            .search-container {
                display: flex;
                input{
                    border: 0;
                    border-bottom: 2px solid #0281F8;
                }
            }
        }
    }
}